<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>iEinstein</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Screen Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Resolution</string>
			<key>Key</key>
			<string>screen_resolution</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>MP 2x00 (320×480)</string>
				<string>iPhone 4 (640×960)</string>
				<string>¼ iPad (384×512)</string>
				<string>iPad (768×1024)</string>
				<string>iPhone 5/5s/5c (640×1136)</string>
				<string>¼ iPhone 5/5s/5c (320×568)</string>
				<string>iPhone 6 (750×1134)</string>
				<string>¼ iPhone 6 (375×567)</string>
				<string>iPhone 6+ (1080×1920)</string>
				<string>¼ iPhone 6+ (540×960)</string>
				<string>¼ iPhone 11/XR/XS Max (414×814)</string>
				<string>¼ iPhone X/XS/11 Pro/12 &amp; 13 mini (375×728)</string>
				<string>¼ iPhone 12/13/12 Pro/13 Pro (390×763)</string>
				<string>¼ iPhone 12 &amp; 13 Pro Max (428×845)</string>
			</array>
			<key>Values</key>
			<array>
				<string>{320,480}</string>
				<string>{640,960}</string>
				<string>{384,512}</string>
				<string>{768,1024}</string>
				<string>{640,1136}</string>
				<string>{320,568}</string>
				<string>{750,1134}</string>
				<string>{375,567}</string>
				<string>{1080,1920}</string>
				<string>{540,960}</string>
				<string>{414,814}</string>
				<string>{375,728}</string>
				<string>{390,763}</string>
				<string>{428,845}</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Printing Settings</string>
			<key>FooterText</key>
			<string>This should match the paper size selected in NewtonOS&apos;s Locale Prefs.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Paper Size</string>
			<key>Key</key>
			<string>printable_size</string>
			<key>DefaultValue</key>
			<string>{8,9.88897}</string>
			<key>Titles</key>
			<array>
				<string>U.S. Letter</string>
				<string>A4</string>
			</array>
			<key>Values</key>
			<array>
				<string>{8,9.88897}</string>
				<string>{7.76771,10.58188}</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clear Flash Memory</string>
			<key>Key</key>
			<string>clear_flash_ram</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Ignore touches that do not come from the stylus.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Apple Pencil</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Apple Pencil Mode</string>
			<key>Key</key>
			<string>apple_pencil</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
